.main-hero {
    background: linear-gradient(89.53deg, rgba(0, 0, 0, 0.8) 38.02%, rgba(0, 0, 0, 0.3) 60.4%, rgba(0, 0, 0, 0) 71.79%), url("../../assets/notice-for-shareholders-banner.jpg");
}

@media screen and (max-width:768px) {
    .main-hero {
        background: linear-gradient(180deg, rgba(137, 137, 137, 0) 0%, #000000 100%), url("../../assets/notice-for-shareholders-banner.jpg");
    }
}

/* CTA Section */

.footer-cta-section {
    display: flex;
    background-color: #212121;
}

.cta-section-left,
.cta-section-right {
    width: 50%;
}

.cta-section-left {
    padding: 128px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
}

.cta-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cta-header>h4 {
    font-family: Urbanist, sans-serif;
    font-size: 2.617rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #fff;
}

.cta-header>p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #fff;
}

.cta-section-right {
    padding: 50px;
    background-image: url('../../assets/corporate-meeting.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:768px) {
    .footer-cta-section {
        display: flex;
        flex-direction: column;
        background-color: #212121;
    }

    .cta-section-left,
    .cta-section-right {
        width: 100%;
    }

    .cta-section-left {
        padding: 64px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 64px;
    }

    .cta-header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .cta-section-right {
        display: none;
    }
}

@media screen and (max-width:430px) {
    .cta-section-left {
        padding: 64px 40px;
        gap: 32px;
    }

    .cta-header {
        gap: 8px;
    }

    .cta-header>h4 {
        font-family: Urbanist, sans-serif;
        font-size: 1.618rem;
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        color: #fff;
    }

    .cta-header>p {
        font-family: Plus Jakarta Sans, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        color: #fff;
    }
}