@import url(../global.css);

.main-hero {
    height: 100vh;
    padding: 50px;
    background: linear-gradient(89.53deg, rgba(0, 0, 0, 0.8) 38.02%, rgba(0, 0, 0, 0.3) 60.4%, rgba(0, 0, 0, 0) 71.79%), url("../../assets/banners/careers-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.hero-header>h1 {
    width: 70%;
    font-family: Urbanist, sans-serif;
    font-size: 4.235rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
}

.hero-header>p {
    width: 60%;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.618;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
}

.hero-footer {
    position: absolute;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 26px 0 0 0;
    bottom: 0;
    right: 0;
}

.hero-footer::before {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    background: transparent;
    top: -50px;
    right: 0;
    border-radius: 50px;
    box-shadow: 26px 26px 0 #fff;
}

.hero-footer::after {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: transparent;
    bottom: 0px;
    left: -50px;
    border-radius: 50px;
    box-shadow: 26px 26px 0 #fff;
}

.breadcrumbs>a,
.breadcrumbs>span {
    font-family: Urbanist;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.618;
    text-align: left;
    text-decoration: none;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.breadcrumbs>a {
    color: #141E47;
}

@media screen and (max-width:768px) {
    .main-hero {
        background: linear-gradient(180deg, rgba(137, 137, 137, 0) 0%, #000000 100%), url("../../assets/banners/careers-banner.png");
        background-position: center;
        padding: 40px;
    }

    .hero-header>h1 {
        width: 100%;
        font-family: Urbanist;
        font-size: 4.235rem;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffffff;
    }

    .hero-header>p {
        width: 100%;
    }
}

@media screen and (max-width:430px) {
    .main-hero {
        padding: 20px;
        align-items: center;
    }

    .hero-header>h1 {
        font-family: Urbanist;
        font-size: 2.617rem;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffffff;
    }

    .hero-header>p {
        font-size: 1rem;
        width: 100%;
    }
}

/* Main USPs */
.company-usps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 50px 0;
}

.company-usp-image,
.company-usp-content {
    width: 50%;
    position: relative;
    padding: 0;
}

.company-usp-image>img {
    border-radius: 26px;
    width: 100%;
    margin: 0 auto;
}

.serve-image-content {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 26px;
    border-radius: 26px 0 0 0;
    background-color: #fff;
    display: flex;
    gap: 8px;
    align-items: center;
}

.serve-image-content::before {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    background: transparent;
    top: -50px;
    right: 0;
    border-radius: 50px;
    box-shadow: 26px 26px 0 #fff;
}

.serve-image-content::after {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: transparent;
    bottom: 0px;
    left: -50px;
    border-radius: 50px;
    box-shadow: 26px 26px 0 #fff;
}

.serve-image-content-left>h2 {
    font-family: Urbanist, sans-serif;
    font-size: 4.235rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
}

.serve-image-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.serve-image-content-right>h3 {
    font-family: Urbanist, sans-serif;
    font-size: 1.618rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
}

.serve-image-content-right>span {
    font-family: Urbanist, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
}

.company-usp-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.company-usp-content-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.company-usp-content-header>h2 {
    font-family: Urbanist, sans-serif;
    font-size: 4.235rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-align: left;
    color: #000;
}

.company-usp-content-header>p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1.618rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-align: left;
    color: #000;
}

.main-usps {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.usp-icon-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width:1024px) {
    .company-usps {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .company-usp-image,
    .company-usp-content {
        width: 100%;
    }
}

@media screen and (max-width:430px) {
    .company-usp-content-header>h2 {
        font-size: 2.617rem;
    }

    .company-usp-content-header>p {
        font-size: 1rem;
    }

    .serve-image-content-left>h2 {
        font-family: Urbanist, sans-serif;
        font-size: 2.617rem;
        font-weight: 600;
        line-height: 1.2;
    }

    .serve-image-content-right>h3 {
        font-family: Urbanist, sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .serve-image-content-right>span {
        font-family: Urbanist, sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2;
    }
}

.choose-path {
    padding: 128px 50px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap: 128px;
}

.choose-path-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.choose-path-header>h2 {
    width: 50%;
    font-family: Urbanist, sans-serif;
    font-size: 4.235rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #000;
}

.choose-path-header-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.choose-path-header-content>p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1.618rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #000;
}

.choose-path-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.choose-path-col {
    width: 20%;
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.choose-path-col-image>img {
    border-radius: 26px;
    width: 100%;
    object-fit: cover;
}

.choose-path-col-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.choose-path-col-content>h3 {
    font-family: Urbanist, sans-serif;
    font-size: 1.618rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #000;
}

.choose-path-col-content>p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #000;
}

@media screen and (max-width:768px) {
    .choose-path-header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .choose-path-header>h2,
    .choose-path-header-content {
        width: 100%;
    }

    .choose-path-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

    }

    .choose-path-col {
        width: 50%;
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}




























/* Catalyst connect metrics */

.catalyst-connect-metrics-header {
    font-family: Urbanist, sans-serif;
    font-size: 2.617rem;
    font-weight: 600;
    line-height: 1.2;
}

.ipo-metrics {
    background: #EEF1FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9fafc;
    border-radius: 20px;
    padding: 60px 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.metric {
    flex: 1 1 30%;
    text-align: center;
    border-left: 1px solid #141E4733;
    padding: 10px;
}

.metric:first-child {
    border-left: none;
}

.number {
    font-family: Urbanist;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.metric-description {
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@media screen and (max-width:1024px) {
    .number {
        font-family: Urbanist;
        font-size: 32px;
        font-weight: 700;
        line-height: 64px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .metric-description {
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}

@media screen and (max-width:430px) {
    .metric {
        flex: 1 1 100%;
        /* Responsive resizing */
        padding: 10px;
        border: none;
        border-top: 1px solid #141E4733;
    }

    .metric:first-child {
        border-top: none;
    }

    .number {
        font-family: Urbanist;
        font-size: 32px;
        font-weight: 700;
        line-height: 64px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .metric-description {
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}



.image-collage>img {
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
}




































.stories {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.stories-header>h3 {
    font-family: Urbanist, sans-serif;
    font-size: 4.235rem;
    font-weight: 600;
    line-height: 1.2;
}

.stories-container {
    display: flex;
}

.story-image,
.story-content {
    width: 50%;
}

.story-image {
    background: url('../../assets/catalyst-connect-story-1.png');
    background-position: center;
    background-size: cover;
}

.story-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-content-1 {
    background-color: #F9F9F9;
}

.story-content-header>h4 {
    font-family: Urbanist, sans-serif;
    font-size: 1.618rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #000;
}

.story-author {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.story-author>h4 {
    font-family: Urbanist, sans-serif;
    font-size: 1.618rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #000;
}

.story-author>p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #000;
}

.story-author>span {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #000;
}

/* CTA Section */

.footer-cta-section {
    display: flex;
    background-color: #212121;
}

.cta-section-left,
.cta-section-right {
    width: 50%;
}

.cta-section-left {
    padding: 128px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
}

.cta-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cta-header>h4 {
    font-family: Urbanist, sans-serif;
    font-size: 2.617rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #fff;
}

.cta-header>p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #fff;
}

.cta-section-right {
    padding: 50px;
    background-image: url('../../assets/corporate-meeting.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:768px) {
    .footer-cta-section {
        display: flex;
        flex-direction: column;
        background-color: #212121;
    }

    .cta-section-left,
    .cta-section-right {
        width: 100%;
    }

    .cta-section-left {
        padding: 64px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 64px;
    }

    .cta-header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .cta-section-right {
        display: none;
    }
}

@media screen and (max-width:430px) {
    .cta-section-left {
        padding: 64px 40px;
        gap: 32px;
    }

    .cta-header {
        gap: 8px;
    }

    .cta-header>h4 {
        font-family: Urbanist, sans-serif;
        font-size: 1.618rem;
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        color: #fff;
    }

    .cta-header>p {
        font-family: Plus Jakarta Sans, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        color: #fff;
    }
}