@import url(../../global.css);

.main-hero {
    background: linear-gradient(89.53deg, rgba(0, 0, 0, 0.8) 38.02%, rgba(0, 0, 0, 0.3) 60.4%, rgba(0, 0, 0, 0) 71.79%), url("../../../assets/corporate-skyline.png") center / cover no-repeat;
    height: 100vh;
    padding: 128px 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.hero-header>h1 {
    width: 70%;
    font-family: Urbanist, sans-serif;
    font-size: 4.235rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
}

.hero-header>p {
    width: 60%;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.618;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
}

.hero-footer {
    position: absolute;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 26px 0 0 0;
    bottom: 0;
    right: 0;
}

.hero-footer::before {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    background: transparent;
    top: -50px;
    right: 0;
    border-radius: 50px;
    box-shadow: 26px 26px 0 #fff;
}

.hero-footer::after {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: transparent;
    bottom: 0px;
    left: -50px;
    border-radius: 50px;
    box-shadow: 26px 26px 0 #fff;
}

.breadcrumbs>a,
.breadcrumbs>span {
    font-family: Urbanist, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.618;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.breadcrumbs>a {
    color: #141E47;
}

@media screen and (max-width:768px) {
    .main-hero {
        padding: 40px;
        background: linear-gradient(180deg, rgba(137, 137, 137, 0) 0%, #000000 100%), url("../../../assets/corporate-skyline.png");
        align-items: center;
    }

    .hero-header>h1 {
        width: 100%;
    }

    .hero-header>p {
        width: 100%;
    }
}

@media screen and (max-width:430px) {
    .main-hero {
        padding: 20px;
    }

    .hero-header>h1 {
        font-size: 2.617rem;
    }

    .hero-header>p {
        font-size: 1rem;
        width: 100%;
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header>h2 {
    font-family: Urbanist, sans-serif;
    font-size: 4.235rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

.section-header>p {
    width: 80%;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1.618rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

@media screen and (max-width:430px) {
    .section-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section-header>h2 {
        font-size: 2.617rem;
        text-align: left;
    }

    .section-header>p {
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }
}

.ipo-container {
    padding-top: 50px;
}

.ipo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start; /* changed from center to start */
    align-items: stretch;
    width: auto;
    padding: 0 16px; /* example container side padding */
}

.ipo-col {
    flex: 1 1 calc(20% - 16px);
    /* box-sizing: border-box; */
}

/* For the no-flex item (only applies if count is odd) */
.ipo-col.no-flex {
    flex: none;
}

/* Responsive fix */
@media (max-width: 768px) {
    .ipo-col {
        flex: 1 1 100%;
    }

    .ipo-col.no-flex {
        width: 100%;
    }
}

.ipo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ipo-image {
    position: relative;
}

.ipo-image>img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 26px 26px 0 26px;
}

.ipo-image>span {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 26px;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5;
}

.ipo-cta-button {
    position: absolute;
    background-color: #ffffff;
    border-radius: 26px 0 0 0;
    bottom: 0;
    right: 0;
}

.ipo-cta-button::before {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    background: transparent;
    top: -50px;
    right: 0;
    border-radius: 50%;
    box-shadow: 20px 20px 0 #fff;
}

.ipo-cta-button::after {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: -50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 20px 20px 0 #fff;
}


.ipo-cta-button>a {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border: 16px solid #fff;
    border-radius: 100%;
}

.ipo-content>a {
    font-family: Urbanist, sans-serif;
    font-size: 1.618rem;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    color: #000;
}

/* Medium Screens */
@media (max-width: 1024px) {
    .ipo-col {
        flex: 1 1 calc(33.33% - 16px);
    }
}

/* Small Screens */
@media (max-width: 768px) {
    .ipo-col {
        flex: 1 1 calc(50% - 16px);
    }
}

/* Mobile Screens */
@media (max-width: 480px) {
    .ipo-col {
        flex: 1 1 100%;
    }
}

/* CTA Section */
.footer-cta-section {
    display: flex;
    background-color: #212121;
}

.cta-section-left,
.cta-section-right {
    width: 50%;
}

.cta-section-left {
    padding: 128px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
}

.cta-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cta-header>h4 {
    font-family: Urbanist, sans-serif;
    font-size: 2.617rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #fff;
}

.cta-header>p {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #fff;
}

.cta-section-right {
    padding: 50px;
    background-image: url('../../../assets/corporate-meeting.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:768px) {
    .footer-cta-section {
        display: flex;
        flex-direction: column;
        background-color: #212121;
    }

    .cta-section-left,
    .cta-section-right {
        width: 100%;
    }

    .cta-section-left {
        padding: 64px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 64px;
    }

    .cta-header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .cta-section-right {
        display: none;
    }
}

@media screen and (max-width:430px) {
    .cta-section-left {
        padding: 64px 40px;
        gap: 32px;
    }

    .cta-header {
        gap: 8px;
    }

    .cta-header>h4 {
        font-family: Urbanist, sans-serif;
        font-size: 1.618rem;
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        color: #fff;
    }

    .cta-header>p {
        font-family: Plus Jakarta Sans, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        color: #fff;
    }
}